PyYAML>=6.0
click>=8.0
rich>=13.0
paho-mqtt>=1.6
adafruit-circuitpython-dht; platform_machine=='armv7l' or platform_machine=='aarch64'
adafruit-circuitpython-neopixel; platform_machine=='armv7l' or platform_machine=='aarch64'
rpi_ws281x; platform_machine=='armv7l' or platform_machine=='aarch64'
